.com-activePeople .people {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .person {
        background: white;
        max-width: 290px;
        margin: 10px 5px;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: $shadow;

        .avatar {
            display: inline-block;
            background-color: white;

            border-radius: 10%;
            overflow: hidden;
            height: 50px;
            width: 50px;

            img {
                height: 100%;
            }
        }

        .info {
            width: calc(100% - 100px);
            margin-left: 20px;
            display: inline-block;
            vertical-align: top;

            .name {
                font-weight: 600;
            }
        }
    }
}
