.box-header {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;

    font-weight: 500;
    text-align: left;
    background-color: #f9fafb;
    color: #6b7280;

    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 0.8em;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: #161e2e;
    margin-bottom: 20px;

    th, td {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    td {
        padding: 15px 20px;
        font-size: 0.8em;
    }

    thead {
        background-color: lightgrey;

        th {
            font-weight: 500;
            text-align: left;
            background-color: #f9fafb;
            color: #6b7280;

            text-transform: uppercase;
            letter-spacing: .05em;
            font-size: 0.8em;
        }
    }

}