.page-organization {
    .generateInv {
        width: fit-content;
        max-width: 80%;
        overflow-x: auto;
        margin: 80px auto 20px auto;

        background-color: #f1f1f1;
        padding: 10px 20px;

        &.click-me {
            cursor: pointer;
        }
    }
}